.header {
  padding: 30px;
  display: flex;

  &__nav {
    width: 100%;
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-grow: 1;

    &_item {
      padding: 10px;
      background-color: blue;
    }
  }

  &__item {
  }
}
