// colors HEX
$white: #ffffff;

$main-color: #56c596;

$failed-color: #f55959;
$bg-color: #329d9c;
$button-color: blue;

// font size
$fs-heading: 18px;
$fs-text: 14px;

// container
$container: 1170px;
