// colors HEX
$white: #ffffff;
$black: #2b2e34;
$blue: #1767b8;

$main-color: #56c596;

$failed-color: #f55959;
$bg-color: #329d9c;
$bg-color-dark: #2b8f8d;
$button-color: blue;

// font size
$fs-heading: 18px;
$fs-text: 14px;

// container
$container: 1024px;
